[flake8]
ignore =
  # No space before colon
  E203
  W503
  # Missing docstring in public class -- my docstrings are in the __init__ which seems to fail this ?
  D101
max-line-length = 88
max-complexity = 20
inline-quotes = double
docstring-convention=numpy
rst-roles =
  class
  method
  func
  attr
exclude =
    devel/*
per-file-ignores =
    tests/*:D
    src/pygsdata/__init__.py:F401
