name: Tests

# Test on all pushes, except when the push is literally just a tag (because we
# tag automatically via CI, and therefore there's no extra code in that push).
on:
  push:
    tags-ignore:
      - 'v*'
  pull_request:

jobs:
  tests:
    env:
      ENV_NAME: tests
      PYTHON: ${{ matrix.python-version }}
      OS: ${{ matrix.os }}
    name: Testing
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest]
        python-version: [3.11, "3.12", "3.13"]
    steps:
      - uses: actions/checkout@master
        with:
          fetch-depth: 0
      - uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
      - name: set PY
        run: echo "PY=$(python -c 'import hashlib, sys;print(hashlib.sha256(sys.version.encode()+sys.executable.encode()).hexdigest())')" >> $GITHUB_ENV
      - name: Setup Environment
        run: |
          pip install -U coverage
          pip install .[dev]
      - name: Run Tests
        run: |
          pytest -n auto --cov=pygsdata --cov-report=xml
      - name: Show Files
        run: |
          ls -al

      - uses: codecov/codecov-action@v5
        with:
          fail_ci_if_error: true
          verbose: true
          file: ./coverage.xml
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

  downstream:
    env:
      PYTHON: 3.11
      OS: ubuntu-latest
    name: Downstream
    runs-on: ubuntu-latest
    strategy:
      matrix:
        package: ['read_acq']
      fail-fast: false
    steps:
      - uses: actions/checkout@master
        with:
          fetch-depth: 0
      - uses: actions/setup-python@v6
        with:
          python-version: ${{ env.PYTHON }}

      - name: Setup Environment
        run: |
          pip install -U coverage
          pip install .[dev]
          pip install ipykernel
          python -m ipykernel install --user --name=edges

      - name: Get downstream package
        run: |
          cd ..
          git clone https://github.com/edges-collab/${{ matrix.package }}
          cd ${{ matrix.package }}
          pip install .[dev]

      - name: Run Tests
        run: |
          coverage run -m pytest ../${{ matrix.package}}
